@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex h-screen w-screen;
}

body #content {
  @apply flex-grow flex;
}

body #qa {
  @apply flex-grow;
}

button, .cursor-pointer {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#front, #back {
  @apply h-full w-full;
}

[lang=en] {
  hyphens: auto;
}

.dots-status-4 {
  @apply bg-green-400 dark:bg-green-800;
}

.dots-status-3 {
  @apply bg-primary dark:bg-primary-dark;
}

.dots-status-2 {
  @apply bg-secondly dark:bg-secondly-dark;
}

.dots-status-1 {
  @apply bg-red-600 dark:bg-red-800;
}

span.highlight {
  @apply text-primary dark:text-primary-dark;
}

@keyframes play {
  0% {
    visibility: hidden;
  }
}