@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex h-screen w-screen;
}

body #content {
  @apply flex-grow flex;
}

body #qa {
  @apply flex-grow;
}

button, .cursor-pointer {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#front, #back {
  @apply h-full w-full;
}

[lang=en] {
  hyphens: auto;
}

@keyframes play {
  0% {
    visibility: hidden;
  }
}